@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>Project Dashboard</h2>
    <p>This project is for team to efficiently manager projects</p>
    <p><a href="~/Projects">My Projects</a></p>
    <p><a href="~/Projects/Create">Create New Project</a></p>
    <p><a href="~/TeamMembers">My Team</a></p>
    <p><a href="~/TeamMembers">Add Team Member</a></p>
</div>
