@model IEnumerable<ProjectManager.Models.Task>

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Scripts/layout/layout-default.css">
    <style>
        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
    </style>
    <script src="~/Scripts/layout/jquery.layout.js"></script>
    <script src="~/Scripts/layout/callbacks/jquery.layout.resizePaneAccordions.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            myLayout = $('#flexLayout').layout({
                west__size: 800,
                center__size: 800,
                west__onresize: $.layout.callbacks.resizePaneAccordions,
                center__onresize: $.layout.callbacks.resizePaneAccordions
            });


            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body input').val(recipient)
            })




        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>

    <!-- ui-select files -->
    <link rel="stylesheet" href="~/Scripts/ui-select/select.css">
    <script src="~/Scripts/ui-select/select.js"></script>
    <script src="~/Scripts/app/projectlist.js"></script>

}

<div id="flexLayout" style="min-height:900px; height:100%;" ng-app='ProjectList' ng-controller="ProjectListController">
    <div class="ui-layout-center" style="display: none;">
        <div class="col-md-12" id="itemDetails">
            <div ng-show="task">
                <h3>{{task.Id}} : {{task.Text}}</h3>

                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align: left;">Status: </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="task.Status" ng-options="x for x in StatusOptions" ng-change="ModelChanged()"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Assignment: </label>
                        <div class="col-sm-10">

                            <table class="table" ng-show="task.AssignedUserList.length > 0">
                                <tr>
                                    <th>Name</th>
                                    <th>Planned Hours</th>
                                    <th>Actual Hour Worked</th>
                                    <th></th>
                                </tr>

                                <tr ng-repeat="item in task.AssignedUserList" ng-click="EditPerson(item)">
                                    <td>{{item.FullName}}</td>
                                    <td>{{item.PlannedHours}}</td>
                                    <td>{{item.ActualHours}}</td>
                                    <td><button class="btn btn-default btn-xs" ng-click="RemovePerson($index)">Remove</button></td>

                                </tr>
                            </table>


                            <a class="btn btn-success btn-xs" ng-hide="addPersonButton" ng-click="addPersonButton = true">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add Person
                            </a>

                            <form class="form-inline" ng-submit="AddPerson()" ng-show="addPersonButton">
                                <div class="form-group">
                                    <label class="sr-only" for="FullName">Name</label>
                                    <ui-select ng-model="person.selected" theme="bootstrap" style="width:300px;">
                                        <ui-select-match placeholder="Select a person">{{$select.selected.FullName}}</ui-select-match>
                                        <ui-select-choices repeat="item in projectUsers | filter: $select.search">
                                            <div ng-bind-html="item.FullName"></div>
                                            <small ng-bind-html="item.Email"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="PlannedHours">Planned Hours: </label>
                                    <input type="number" class="form-control" id="PlannedHours" placeholder="Planned Hours" ng-model="person.selected.PlannedHours">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="PlannedHours">Actual Hours: </label>
                                    <input type="number" class="form-control" id="ActualHours" placeholder="Actual Hours" ng-model="person.selected.ActualHours">
                                </div>
                                <button type="submit" class="btn btn-default">Add</button>
                            </form>

                        </div>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-sm-2">
                        Start Date :
                    </div>

                    <div class="col-sm-6">
                        {{task.StartDate | date:'mediumDate'}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2">
                        Progress:
                    </div>

                    <div class="col-sm-6">
                        {{ ((task.Progress/1)*100) }}%
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div ng-show="descEditMode">
                            <p>Note: <button ng-click="saveTaskDescription()" style="float:right;" class="btn btn-xs btn-success">Save Note</button></p>

                            <p><textarea class="form-control" rows="5" ng-model="TaskDescription.Description"></textarea></p>
                        </div>

                        <div ng-hide="descEditMode">
                            <p>
                                Note: <button ng-click="EditTaskDescription()" style="float:right;" class="btn btn-xs btn-success">Edit Note</button>
                            </p>
                            <p>{{TaskDescription.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="task">
                <h4>Please select task from left panel</h4>
            </div>
        </div>
    </div>

    <div class="ui-layout-west" style="display: none;">

        <div class="btn-group" role="group">
            <a href="@Url.Action("Index", "Projects")" class="btn btn-default btn-xs" target="_self">< Back</a>
            <a href="@Url.Action("Project","Tasks")" class="btn btn-default btn-xs" target="_self">Task List</a>
            <a href="@Url.Action("Project","Board")/@ViewBag.ProjectId" class="btn btn-default btn-xs" target="_self">Project Board</a>
            <a href="@Url.Action("Details","Projects")/@ViewBag.ProjectId" class="btn btn-default btn-xs" target="_self">Time Management</a>
        </div>

        <h3>Project Tasks</h3>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search a task" ng-model="searchTask">
                </div>
            </div>
        </form>


        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'Id'; sortReverse = !sortReverse">
                                Id
                                <span ng-show="sortType == 'Id' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Id' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'Text'; sortReverse = !sortReverse">
                                Text
                                <span ng-show="sortType == 'Text' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Text' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'Status'; sortReverse = !sortReverse">
                                Status
                                <span ng-show="sortType == 'Status' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Status' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'StartDate'; sortReverse = !sortReverse">
                                Start Date
                                <span ng-show="sortType == 'StartDate' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'StartDate' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'Duration'; sortReverse = !sortReverse">
                                Duration
                                <span ng-show="sortType == 'Duration' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Duration' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'Progress'; sortReverse = !sortReverse">
                                Progress
                                <span ng-show="sortType == 'Progress' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'Progress' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="t in taskLists | orderBy:sortType:sortReverse | filter:searchTask" ng-click="setTask(t)" ng-class="{ success: t === task }">
                        <td>{{t.Id}}</td>
                        <td>{{t.Text}}</td>
                        <td>{{t.Status}}</td>
                        <td>{{t.StartDate | date:'mediumDate' }}</td>
                        <td>{{t.Duration}}</td>
                        <td>{{ ((t.Progress/1)*100) }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

