@model IEnumerable<ProjectManager.Models.Task>

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Scripts/layout/layout-default.css">

    <script src="~/Scripts/layout/jquery.layout.js"></script>
    <script src="~/Scripts/layout/callbacks/jquery.layout.resizePaneAccordions.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            myLayout = $('#flexLayout').layout({
                west__size: 800,
                center__size: 800,
                west__onresize: $.layout.callbacks.resizePaneAccordions,
                center__onresize: $.layout.callbacks.resizePaneAccordions
            });

        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="~/Scripts/app/projectlist.js"></script>
   
}

<div id="flexLayout" style="min-height:900px; height:100%;" ng-app='ProjectList'>

    <div class="ui-layout-center" style="display: none;">
        <div class="col-xs-6" id="itemDetails" ng-controller="ItemController">
            <div ng-show="item">
                <h4>{{item.Id}} : {{item.Text}}</h4>
                <p>
                    Status :
                    <select class="form-control" ng-model="item.Status" ng-options="x for x in StatusOptions"></select>
                </p>
                <p>
                    Start Date : {{item.StartDate}}
                </p>
                <p>
                    Progress :{{item.Progress}}
                </p>
            </div>
            <div ng-hide="item">
                <h4>Please select task from left panel</h4>
            </div>
        </div>
    </div>


    <div class="ui-layout-west" style="display: none;">

        <h3>Project Tasks</h3>

        <div ng-controller="ListController">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Progress</th>
                </tr>

                <tr ng-repeat="task in taskLists" ng-click="editItem(task)">
                    <td>{{task.Id}}</td>
                    <td>{{task.Text}}</td>
                    <td>{{task.Status}}</td>
                    <td>{{task.StartDate | date:'medium' }}</td>
                    <td>{{task.Duration}}</td>
                    <td>{{task.Progress}}</td>
                </tr>
            </table>
        </div>


    </div>
</div>