@model IEnumerable<ProjectManager.Models.Task>

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Scripts/layout/layout-default.css">
    <style>

    </style>
    <script src="~/Scripts/layout/jquery.layout.js"></script>
    <script src="~/Scripts/layout/callbacks/jquery.layout.resizePaneAccordions.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            myLayout = $('#flexLayout').layout({
                west__size: 800,
                center__size: 800,
                west__onresize: $.layout.callbacks.resizePaneAccordions,
                center__onresize: $.layout.callbacks.resizePaneAccordions
            });

        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="~/Scripts/app/projectlist.js"></script>
   
}

<div id="flexLayout" style="min-height:900px; height:100%;" ng-app='ProjectList'  ng-controller="ProjectListController">
    <div class="ui-layout-center" style="display: none;">
        <div class="col-md-12" id="itemDetails">
            <div ng-show="task">
                <h4>{{task.Id}} : {{task.Text}}</h4>
                <p>
                    Status :
                    <select class="form-control" ng-model="task.Status" ng-options="x for x in StatusOptions" ng-change="statusChanged(task.Status)"></select>
                </p>
                <p>
                    Assigned to : 
                    <span ng-show="task.AssignedFirstUser">{{task.AssignedFirstUser}}</span>
                    <a class="btn btn-success btn-xs" ng-hide="task.AssignedFirstUser">Assign</a>
                </p>

                <p>
                    Start Date : {{task.StartDate}}
                </p>
                <p>
                    Progress :{{task.Progress}}
                </p>

                <div ng-show="descEditMode">
                    <p>Note: <button ng-click="saveTaskDescription()" style="float:right;" class="btn btn-xs btn-success">Save Note</button></p>

                    <p><textarea class="form-control" rows="5" ng-model="TaskDescription.Description"></textarea></p>
                </div>

                <div ng-hide="descEditMode">
                    <p>
                        Note: <button ng-click="EditTaskDescription()" style="float:right;" class="btn btn-xs btn-success">Edit Note</button>
                    </p>
                    <p>{{TaskDescription.Description}}</p>
                </div>

            </div>
            <div ng-hide="task">
                <h4>Please select task from left panel</h4>
            </div>
        </div>
    </div>


    <div class="ui-layout-west" style="display: none;">

        <div class="btn-group" role="group">
            <a href="@Url.Action("Index", "Projects")" class="btn btn-default btn-xs" target="_self">< Back</a>
            <a href="@Url.Action("Project","Tasks")" class="btn btn-default btn-xs" target="_self">Task List</a>
            <a href="@Url.Action("Project","Board")/@ViewBag.ProjectId" class="btn btn-default btn-xs" target="_self">Project Board</a>
            <a href="@Url.Action("Details","Projects")/@ViewBag.ProjectId" class="btn btn-default btn-xs" target="_self">Time Management</a>
        </div>

        <h3>Project Tasks</h3>

        <div>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Duration</th>
                    <th>Progress</th>
                </tr>

                <tr ng-repeat="t in taskLists" ng-click="setTask(t)" ng-class="{ success: t === task }">
                    <td>{{t.Id}}</td>
                    <td>{{t.Text}}</td>
                    <td>{{t.Status}}</td>
                    <td>{{t.StartDate | date:'medium' }}</td>
                    <td>{{t.Duration}}</td>
                    <td>{{t.Progress}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
