<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="utf-8">
    <title>AngularJS ui-select</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

    <!-- ui-select files -->
    <link rel="stylesheet" href="~/Scripts/ui-select/select.css">
    <script src="~/Scripts/ui-select/select.js"></script>
    <script src="~/Scripts/app/demo.js"></script>

    <style>
        body {
            padding: 15px;
        }

        .select2 > .select2-choice.ui-select-match {
            /* Because of the inclusion of Bootstrap */
            height: 29px;
        }

        .selectize-control > .selectize-dropdown {
            top: 36px;
        }
    </style>
</head>

<body ng-controller="DemoCtrl">

    <p>Selected: {{person.selected.name}}</p>

    <form class="form-horizontal">
        <fieldset>
            <legend>ui-select inside a Bootstrap form</legend>

            <div class="form-group">
                <label class="col-sm-3 control-label">Default</label>
                <div class="col-sm-6">

                    <ui-select ng-model="person.selected" theme="bootstrap" style="width:300px;">
                        <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in people | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                            <small ng-bind-html="item.email | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                </div>
            </div>



        </fieldset>
    </form>

</body>
</html>
